<div class='row'>
<div class="col s10 offset-s1">
	<%= form_for @booking do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
	<br />
		<%= f.label :creator %>
		<%= f.text_field :creator %>
	<br />
		<%= f.label :attendees %>
		<%= f.text_field :attendees %>
	<br />
		<%= f.label :date %>
		<%= f.date_select :date %>
	<br />
		<%= f.label :time %>
		<%= f.text_field :time %>
	<br />
		<%= f.label :notes %>
		<%= f.text_field :notes %>
	<br />
		<%= f.label :password %>
		<%= f.text_field :password, value: '', autocomplete: :off %>
	<br />
		<%= f.label :room_id %>
		<%= f.text_field :room_id %>
	<br />
		<%= f.submit %>
	<% end %>
</div>
</div>