<%= @booking.room.name %>

<p>Title: <%= @booking.title %></p>
<p>Creator: <%= @booking.creator %></p>
<p>Attendees: <%= @booking.attendees %></p>
<p>Notes: <%= @booking.notes %></p>
<p>Date: <%= @booking.date %></p>
<p>Time: <%= @booking.time %></p>
<button id='hide_button'>Hide Info</button>



